<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/styles/build.css" />
    <link
      rel="shortcut icon"
      href="../../assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>Signin</title>
  </head>
  <body class="w-dvw h-dvh flex flex-col">
    <header class="flex justify-center p-2.5 w-full bg-mainblue h-37.5">
      <div class="h-full">
        <img
          class="w-full h-full object-contain"
          src="../../assets/images/Logo_header_bordered.png"
          alt="banner"
        />
      </div>
    </header>
    <main class="w-full h-full flex flex-col justify-center items-center gap-4">
      <h1 class="font-bold text-3xl">Page d'inscription</h1>
      <div
        class="bg-bg p-3.5 w-1/2 border border-border rounded-lg flex flex-col gap-5 justify-center items-center"
      >
        <form class="w-3/4 flex flex-col gap-3" id="signin" action="">
          <div class="flex gap-3">
            <div class="flex flex-col">
              <label for="lastName"
                >Nom<span class="text-error font-bold">*</span></label
              >
              <input
                class="bg-card border border-border rounded-lg pt-1 pb-1 pr-4 pl-4 w-full"
                type="lastName"
                id="lastName"
                name="lastName"
                placeholder="Ex : DUPONT"
              />
            </div>
            <div class="flex flex-col">
              <label for="firstName"
                >Prénom<span class="text-error font-bold">*</span></label
              >
              <input
                class="bg-card border border-border rounded-lg pt-1 pb-1 pr-4 pl-4 w-full"
                type="firstName"
                id="firstName"
                name="firstName"
                placeholder="Ex : Martin"
              />
            </div>
            <div class="flex flex-col">
            <label for="surname">Pseudo</label>
            <input
              class="bg-card border border-border rounded-lg pt-1 pb-1 pr-4 pl-4 w-full"
              type="surname"
              id="surname"
              name="surname"
              placeholder="Votre pseudo"
            />
          </div>
          </div>
          <div class="flex flex-col">
            <label for="mail"
              >Email<span class="text-error font-bold">*</span></label
            >
            <input
              class="bg-card border border-border rounded-lg pt-1 pb-1 pr-4 pl-4"
              type="mail"
              id="mail"
              name="mail"
              placeholder="Ex : dupont.martin@gmail.com"
            />
          </div>
          <div class="flex flex-col">
            <label class="self-start" for="password"
              >Mot de passe<span class="text-error font-bold">*</span></label
            >
            <input
              class="bg-card border border-border rounded-lg pt-1 pb-1 pr-4 pl-4"
              type="password"
              id="password"
              name="password"
              placeholder="12+ majuscule, minuscule et chiffre"
            />
          </div>
          <div class="flex flex-col">
            <label class="self-start" for="confirmPassword"
              >Confirmer le mot de passe<span class="text-error font-bold"
                >*</span
              ></label
            >
            <input
              class="bg-card border border-border rounded-lg pt-1 pb-1 pr-4 pl-4"
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Entrez à nouveau le mot de passe"
            />
          </div>
          <button
            class="bg-mainblue text-white p-2 rounded-lg font-semibold w-4/6 m-auto"
          >
            S'inscrire
          </button>
        </form>
      </div>
      <div>
        <p class="text-center">Déjà inscrit ?</p>
        <p class="text-center">
          Cliquez <span><a class="font-bold" href="./login.html">ici</a></span> pour vous
          connecter
        </p>
      </div>
    </main>
    <footer></footer>

    <script src="../../assets/scripts/signin.js"></script>
  </body>
</html>
